.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .category-main{
    display: flex;
    flex-wrap: wrap;
    margin-left: 255px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .submit-filter{
    width: 50%;
  }
  .filter-label{
    margin: 10px 0;
  }
  .filter-div{
    margin: 10px 0;
  }

.price-range{
 margin-bottom: 100px;
}


.sidenav::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.sidenav::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
.sidenav::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
