.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding: 20px;
}

.cat-flex{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.cat-flex label{
  width: 70%;
  padding-left: 10px;
  font-weight: 300;
  opacity: 0.8;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.category-main{
  display: flex;
  flex-wrap: wrap;
  margin-left: 255px;
  padding-top: 60px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidnav-btn{
    display: none;
  }

@media only screen and (max-width: 750px){

  .sidnav-btn{
    display: block;
    text-align: center;
    padding-top: 5px;
  }

  .sidenav {
    margin: 0;
    padding: 0;
    width: 0;
    z-index: 5;
    overflow: hidden;
  }

  .sidenav-active{
    padding: 0 10%;
    z-index: 5;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    background-color: white;
  }

  .category-main {
    margin-left: 0;
    justify-content:space-evenly;
    padding-top: 10px;
  }

  /* .category-head-div {
    background-color: #F6F6F6;
  } */
}

.filters-title {
  text-transform: uppercase;
  font-size: 18px;
}

.filter-label{
  margin: 10px 0;
}
.filter-div{
  margin: 20px 0;
}

.cat-form{
 margin-bottom: 100px;
}

.cat-select{
  width: 100%;
}

.sidenav::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}
.sidenav::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}
.sidenav::-webkit-scrollbar-thumb
{
	background-color: #f1f1f1;
}

.submit-filter {
  width: 100%;
  background-color: #F8EDEB;
  border: none;
  padding: 5px;
  color: #FC6E55;
  font-size: 15px;
}

